
.navbar-brand.mb-0.h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    font-size: 30px;
    margin-top: 30px;
  }
  
  .navbar.navbar-expand-sm.bg-white.navbar-light {
    /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4aaaa5;
    margin-right: 15px;
    The above modifications don't work :( */
    margin-top: 10px;
  }

  .p-3.mb-2.bg-primary.text-white {
  background-image: url(just-waves.png);
  height: 100vh;
  }

  .p-3.mb-2.bg-white.text-dark {
    /* width: 130vh;
    height: 80vh; */
    /* margin-left: 10px; */
  }

  h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
  }

  p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
  }

  img {
    margin: 5px;
  }


  .btn.btn-info {
    background-color: #4aaaa5;
  }

  @mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  .footer {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    color: #cccccc;
    padding: 30px;
    padding-bottom: 5px;
  }

  /* .border
  { background-color: #666666;
  width: 100%;
  height: 30%;
  color: #cccccc;
  } 
  */


  /*  need to add padding to footer and margins to pictures */