.navbar-brand.mb-0.h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    font-size: 30px;
  }
  
  /* .navbar-nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4aaaa5;
  } */

  .p-3.mb-2.bg-primary.text-white {
  background-image: url(just-waves.png); 

  }

  h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
  }

  p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
  }


  .btn.btn-info {
    background-color: #4aaaa5;
  }

  @mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  .footer {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 10px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    color: #cccccc;
  }